<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Code Review & Security Analysis Agent</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>AI Code Review & Security Analysis Agent</h1>

        <p class="subtitle">
            Code Submission Module
        </p>

        <form method="POST" enctype="multipart/form-data">

            <div class="section">

                <label>Select Language</label>

                <select name="language">

                    <option value="python">
                        Python
                    </option>

                    <option value="java">
                        Java
                    </option>

                </select>

            </div>

            <div class="section">

                <label>Upload Python / Java File</label>

                <input type="file" name="codefile" accept=".py,.java">

            </div>

            <div class="section">

                <label>OR Paste Code</label>

                <textarea name="code" rows="15" placeholder="Paste your Python or Java source code here..."></textarea>

            </div>

            <button type="submit">
                Analyze Code
            </button>

        </form>

    </div>

</body>

</html>